@font-face {
  font-family: "Permanent Marker";
  src: url(fonts/PermanentMarker-Regular.ttf);
}

@font-face {
  font-family: "Altform";
  font-weight: 400;
  src: url(fonts/Altform-Regular.ttf);
}

@font-face {
  font-family: "Public Sans";
  font-weight: 400;
  src: url(fonts/PublicSans-Regular.ttf);
}

@font-face {
  font-family: "Public Sans";
  font-weight: 500;
  src: url(fonts/PublicSans-Medium.ttf);
}

@font-face {
  font-family: "Public Sans";
  font-weight: 600;
  src: url(fonts/PublicSans-SemiBold.ttf);
}

@font-face {
  font-family: "Public Sans";
  font-weight: 700;
  src: url(fonts/PublicSans-Bold.ttf);
}

body {
  font-family: "Public Sans";
}

.marker {
  font-family: "Permanent Marker";
}

.altform {
  font-family: "Altform";
}
